@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

:root {
  --font-family: "Poppins", sans-serif;
  --background: #fff;
  --black: #000000;
  --white: #fff;
  --semi-bold: 600;
  --bold: 700;
  --text-color: #585757;
  --link-active-focus: #a9a9a9;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
  scrollbar-gutter: stable;
}

body {
  min-width: 320px;
  font-family: var(--font-family);
  background-color: var(--background);
  color: var(--text-color);
}
body.lock {
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

button:active,
a:active {
  -webkit-filter: drop-shadow(0px 0px 4px #6d6d6d);
          filter: drop-shadow(0px 0px 4px #6d6d6d);
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.page > section:not(:first-child) {
  padding: 75px 0;
}

.button {
  font-size: 1rem;
  padding: 16px 32px;
  border-radius: 36px;
  background-color: transparent;
  border: 1px solid rgb(90, 90, 90);
}

.head {
  text-align: center;
  margin-bottom: 50px;
}
.head__subtitle {
  color: var(--text-color);
  padding-bottom: 20px;
}
.head__title {
  font-size: 3rem;
  font-weight: var(--bold);
  color: var(--black);
}

.chapter {
  font-size: clamp(1.5rem, 1rem + 2.5vw, 1.75rem);
  font-weight: var(--semi-bold);
}

[class*=__container] {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

pre[class*=language-] {
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background: #ffffff !important;
  border: 1px solid #e1e4e8;
}

.page__modal {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  visibility: hidden;
}
.page__modal.active {
  visibility: visible;
}

.modal__window {
  position: relative;
  inset: 0;
  margin: 0 auto;
  padding: 20px 40px;
  max-width: 580px;
  background: #fff;
  -webkit-box-shadow: 0 10px 5px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  opacity: 0;
  translate: 0 300px;
  rotate: x 90deg;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.modal__window.active {
  opacity: 1;
  translate: 0 0;
  rotate: x 0deg;
}
.modal__btn-close {
  position: absolute;
  right: 40px;
  top: 20px;
  background-color: transparent;
  color: #aaa;
  cursor: pointer;
  font-size: 17px;
  font-weight: var(--font-weight-Semi-Bold);
  line-height: 20px;
}
.modal__btn-close:hover {
  color: black;
  -webkit-filter: drop-shadow(4px 4px 2px rgb(146, 170, 146));
          filter: drop-shadow(4px 4px 2px rgb(146, 170, 146));
}
.modal__btn-close:active {
  -webkit-filter: drop-shadow(4px 4px 2px rgb(216, 228, 216));
          filter: drop-shadow(4px 4px 2px rgb(216, 228, 216));
}
.modal__img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 100%;
  -webkit-filter: drop-shadow(4px 4px 2px rgb(146, 170, 146));
          filter: drop-shadow(4px 4px 2px rgb(146, 170, 146));
}
.modal__img img {
  width: 100%;
  height: auto;
}
.modal__title {
  margin-top: 30px;
  color: #000;
  font-size: clamp(1rem, 0.29rem + 3.54vw, 3.19rem);
  -webkit-filter: drop-shadow(4px 4px 2px rgb(146, 170, 146));
          filter: drop-shadow(4px 4px 2px rgb(146, 170, 146));
}
.modal__text {
  color: #000;
  -webkit-filter: drop-shadow(4px 4px 2px rgb(146, 170, 146));
          filter: drop-shadow(4px 4px 2px rgb(146, 170, 146));
}

.icon-menu {
  display: none;
}
@media (max-width: 768px) {
  .icon-menu {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    background-color: transparent;
  }
  .icon-menu span, .icon-menu:before, .icon-menu:after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .icon-menu:before {
    top: 0;
  }
  .icon-menu:after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .icon-menu.active:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 0.0625rem);
  }
  .icon-menu.active:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 0.0625rem);
  }
  .icon-menu.active span {
    width: 0;
  }
}

.header {
  position: fixed;
  width: 100%;
  padding: 50px 0;
  z-index: 6;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header.burger--off {
  background-color: rgba(255, 255, 255, 0.2117647059);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  z-index: 6;
  font-size: clamp(2.25rem, 2rem + 1.25vw, 3rem);
}
.header__logo a {
  color: var(--black);
}
.header__logo a:hover, .header__logo a:focus {
  color: var(--text-color);
  text-decoration: underline;
}
@media (max-width: 1023px) {
  .header__container {
    gap: 25px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__icon {
  display: none;
}
@media (max-width: 768px) {
  .menu__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 6;
    background-color: transparent;
  }
  .menu__icon span, .menu__icon:before, .menu__icon:after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: var(--black);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .menu__icon:before {
    top: 0;
  }
  .menu__icon:after {
    bottom: 0;
  }
  .menu__icon span {
    top: calc(50% - 0.0625rem);
  }
  .menu__icon.active:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 0.0625rem);
  }
  .menu__icon.active:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 0.0625rem);
  }
  .menu__icon.active span {
    width: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
.menu__list-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.2117647059);
  z-index: 5;
  gap: 25px;
  position: fixed;
  visibility: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  top: 0;
  left: -100%;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.menu__link {
  color: #000;
  font-size: 1.5rem;
  text-decoration-color: var(--text-color);
}
.menu__link:hover {
  color: var(--text-color);
  text-decoration: underline;
}
.menu__link:focus {
  color: var(--text-color);
  text-decoration: underline;
}
.menu__link:active {
  color: var(--link-active-focus);
}
@media (max-width: 1023px) {
  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 768px) {
  .menu__list {
    display: none;
  }
  .menu__list-burger.active {
    left: 0;
    visibility: visible;
  }
  .menu__link-burger {
    color: var(--black);
    font-size: 1.5rem;
    text-decoration-color: var(--text-color);
  }
  .menu__link-burger:hover {
    color: var(--text-color);
    text-decoration: underline;
  }
  .menu__link-burger:focus {
    color: var(--text-color);
    text-decoration: underline;
  }
  .menu__link-burger:active {
    color: var(--link-active-focus);
  }
}

.profile {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.profile__container {
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}
.profile__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.profile__photo img {
  max-width: 400px;
  height: auto;
  -webkit-filter: drop-shadow(0px 0px 14px #949494);
          filter: drop-shadow(0px 0px 14px #949494);
}
.profile__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.profile__head {
  margin: 0;
}
.profile__button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.profile__button-download {
  color: var(--black);
}
.profile__button-download:hover, .profile__button-download:focus {
  background-color: var(--black);
  color: var(--white);
}
.profile__button-hire {
  background-color: var(--black);
  color: var(--white);
}
.profile__button-hire:hover, .profile__button-hire:focus {
  background-color: var(--white);
  color: var(--black);
}
.profile__nav-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.profile__nav-link {
  color: var(--black);
}
.profile__nav-link:hover {
  color: rgb(92, 92, 91);
}
@media (max-width: 768px) {
  .profile {
    margin-top: 100px;
    padding: 50px 0;
    height: auto;
  }
  .profile__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 45px;
  }
  .profile__photo {
    max-width: clamp(200px, 41.44px + 49.55vw, 422.08px);
  }
  .profile__description {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1000px;
  gap: 30px;
}
.about__description {
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1023px) {
  .about__description {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767px) {
  .about__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about__title-experience {
  font-size: 1.5rem;
  font-weight: var(--bold);
  text-align: center;
}
.about__experience {
  border: 1px solid var(--black);
  border-radius: 20px;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 24px 24px;
}
@media (max-width: 767px) {
  .about__experience {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}
.about__experience a {
  color: var(--text-color);
}
.about__experience a:hover, .about__experience a:focus {
  color: #aaaaaa;
}
.about__icon img {
  width: 24px;
  height: 24px;
  fill: var(--black);
}
.about__title {
  font-size: 1.125rem;
  font-weight: var(--bold);
}
.about__text {
  font-size: 1.125rem;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.about__text-footer > *:not(:last-child) {
  margin-bottom: 10px;
}
.experience__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  border: 1px solid black;
  border-radius: 32px;
  padding: 32px clamp(12px, -1.28px + 2.78vw, 32px);
}
.experience__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px clamp(16px, 5.28px + 2.22vw, 32px);
}
.experience__title {
  font-weight: var(--bold);
  font-size: clamp(1.25rem, 0.92rem + 1.11vw, 1.75rem);
}
.experience__check-item {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 10px;
      grid-template-areas: "icon title" ". text";
}
@media (max-width: 768px) {
  .experience__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr/1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 480px) {
  .experience__list {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr/1fr;
  }
}

.item-check__icon {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: icon;
  width: 32px;
  height: 32px;
  fill: var(--black);
}
.item-check__title {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  font-size: 1.125rem;
  color: var(--black);
  font-weight: var(--bold);
  grid-area: title;
}
.item-check__text {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: text;
}

.code-example__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.code-example__list li {
  list-style: inside;
  line-height: normal;
}
.code-example__list li:not(:last-child) {
  margin-bottom: 10px;
}

.projects__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects__content {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  border: 1px solid black;
  border-radius: 32px;
  padding: 20px;
}
.projects__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 20px auto;
  -ms-grid-columns: auto 20px auto;
      grid-template: repeat(2, auto)/repeat(2, auto);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 20px;
}
.projects__title {
  text-align: center;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  grid-row: 1;
}
.projects__list {
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.projects__link {
  display: block;
  color: var(--text-color);
  text-align: center;
}
.projects__link:hover {
  background-color: var(--black);
  color: var(--white);
}
.projects__img {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  -ms-grid-column: 2;
  grid-column: 2;
  max-width: 200px;
  border-radius: 15px;
  overflow: hidden;
  -webkit-filter: drop-shadow(0px 0px 10px #949494);
          filter: drop-shadow(0px 0px 10px #949494);
}

.contact {
  padding-bottom: 75px;
}
.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__content {
  max-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  border-radius: 24px;
  padding: 42px;
  gap: 36px;
}
.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-size: 1.1875rem;
  line-height: normal;
  color: var(--black);
}
.contact__link:hover, .contact__link:focus {
  color: var(--text-color);
  text-decoration: underline;
}
.contact__link svg {
  width: 32px;
  height: 32px;
}
@media (max-width: 550px) {
  .contact__content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 480px) {
  .contact__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.footer {
  padding: 3vh 0;
  font-size: 1.125rem;
  line-height: normal;
  text-align: center;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}
.footer__phrase {
  text-decoration: underline;
  text-align: left;
}
.footer__copyright {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.footer__link-rs {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  overflow: hidden;
}
.footer__link-rs:hover {
  -webkit-filter: drop-shadow(0px 0px 10px #4b4a4a);
          filter: drop-shadow(0px 0px 10px #4b4a4a);
}